div{
    background-color: rgb(0, 0, 148);
   height:  5rem;
   width: 5rem;
   display: flex;
   gap: 1rem;
}

#imga{
    aspect-ratio: 1/1;
}

#imgb{
    display: none;
}

#img1{
   display: none;
}

#img2{
    display: none;

}

#img3{
    display: none;

}

#img4{
    display: none;

}